// Here goes your CSS
// task 1 complete
@import 'layout/main';


.popup{
	 
		display:none;
	text-align:center;
	background-color:#fefefe;
	padding: 1% 3% 1% 3%;
	border:none;
	border-radius:2%; 
	position:relative;
}

.popup form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
label{
	margin-bottom:10%;

}
input{
	line-height:200%;
}
.input-text{
	width:100%;
}
.popup h1{
	font-family: 'Lobster', cursive;
	font-size:250%;
}
#exit-popup-form{

	position:absolute;
	right:-4%;
	top:-4%;
	border:none;
	border-radius: 50%;
	padding-left:10px;
	padding-right:10px;
	font-weight: bolder;
	font-size:35px;
	background-color:black;
	color:white;
	 transition-duration: .5s;
	&:hover{
		transform: scale(1.2);
		color:#fcaf32;
		background-color:#FeFeFe;
	}
}
.submit-input{
	width:100%;
	padding:6% 4% 6% 4%;
	color:white;
	border:none;
	background-color:black;
	transition-duration: .3s; 
	&:hover{
		background-color:#ff6666;
	}
}
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-bottom:10%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkbox-custom {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */


/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-custom:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkbox-custom:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkbox-custom:after {
  left: 5px;
  top: 0px;
  width: 7px;
  height: 13px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
